---
title: Oops! Not Found
layout:  default
permalink: "| 404.html"
---

div(class="container mx-auto flex flex-col justify-center items-center")
    h1 !{ title }
    p There is no page here.
    a(href="/") Go back to the Home Page